.filterBarWrapper {
  min-height: 600px;
  background-color: #f2f2f2;
  margin: 20 0 20 0;
  padding: 12 16 12 16;
  border-radius: 12px;
  max-width: 400px;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 16px;
  position: relative;
}

.clearAllFilters {
  display: flex;
  flex-grow: 1;
}

.iconsContainer{
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    top: 10px;
    right: 10px;
}

.sortByButton {
  border: none;
  transform: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.sortByCountButtonActive {
  transition: all 0.3s ease;
  cursor: pointer;
  border: none;
  transform: rotateX(180deg);
}

.sortByNameButtonActive {
  transition: all 0.3s ease;
  cursor: pointer;
  border: none;
  transform: rotateY(180deg);
}
