.filterBarWrapper{
    min-height: 600px;
    background-color: #f2f2f2;
    margin: 20 0 20 0;
    padding: 10 16 10 16;
    border-radius: 12px;
    max-width: 400px;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 16px
}

.clearAllFilters{
    display: flex;
    flex-grow:1
}
