:root {
  --primary-gradient: linear-gradient(102deg, #f9d81f 0%, #d9a300 100%);
  --box-shadow: 0 2px 10px rgba(0, 8, 44, 0.128);
  --box-shadow-hover: 0 2px 10px rgba(0, 8, 44, 0.4);
}

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #ffffff;
  color: #171717;
  font-family: Arial, Helvetica, sans-serif;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center
}


.page-container{
  padding: 0 40 0 40;
  display: flex;
  flex-direction: column
}


